.flex
    display: flex
    flex-direction: row
    flex-wrap: wrap
    
.flex-column
    display: flex
    flex-direction: column

.align
    &-bottom
        align-items: flex-end
    &-top
        align-items: flex-start
    &-center
        align-items: center
    &-stretch
        align-items: stretch

.justify
    &-left
        justify-content: flex-start
    &-right
        justify-content: flex-end
    &-center
        justify-content: center
    &-sb
        justify-content: space-between
    &-sa
        justify-content: space-around
    &-se
        justify-content: space-evenly