a
    text-decoration none
    display table
    position relative
    cursor pointer
    font-size 1em
    line-height 1.2em
    color: rgba($primary, .5)
    &.effect-snake::before
        content: ''
        position absolute
        left 0
        right 0
        bottom 0
        width 0
        border-bottom 2px solid
        height: 1px
        transition width .3s
    &.effect-snake:hover
        color: $primary
        &::before
            width 100%
            border-bottom-color: $primary