input
    border: 2px solid rgba($primary, .5)
    padding: 10px 20px
    border-radius: 3px
    outline: none
    transition: 0.4s
    &:focus
        border-color: $primary

input[type="checkbox"]
    margin-right: 10px
    width: 20px
    height: 20px
    position: relative
    visibility: hidden
    cursor: pointer 
    &::before
        content: ''
        visibility: visible
        position: absolute
        border: 1px solid rgba($primary, .5)
        width: 20px
        height: 20px
        left: 0
        right: 0
    &::after
        content: ''
        visibility: hidden
        position: absolute
        left: 2px
        top: 2px
        width: 18px
        height: 18px
        background: url(./images/inputs/checked.svg)
        background-size: contain
        background-position: center
        background-repeat: no-repeat
    &:checked
        &::after
            visibility: visible
        &::before
            border-color: $primary